body {
  margin:auto;
}

h1{
  text-align:center;
}

img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

a{
  background-color: grey;
  padding:0px 10px;
}

figcaption{
  font-size: 75%;
  text-align: center;
}

#featured-property p{
  max-width:800px;
  text-align: center;
}

#details{
  display:block;
  float:left;
}





